@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap');


.background {
    background-image: url(./assets/image/wall.jpg);
    background-position: center;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
